@model WebApplicationLab6.Objects.AnimalCapture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimalCapture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EChipNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EChipNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaptureAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaptureAct.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
